<h1>Update Figure</h1>

<form action="/figures/<%=@figure.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Name:</label>

  <br></br>

  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">

  <br></br>

  <label>Title:</label>

  <%Title.all.each do |title|%>
    <label><%=title.name%></label>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id %>" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title) %>>
  <%end%>

  <label>Or new title:</label>
  <input type="text" name="title[name]" id="new_title">

  <br></br>

  <label>Choose an existing landmark:</label>

  <br></br>

  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%=landmark.name%>" <%='checked' if @figure.landmarks.include?(landmark) %>><%=landmark.name%></input>
  <%end%>

  <br></br>

  <label>or create a new landmark:</label>
  <br></br>
  <label>name:</label>
    <input  type="text" name="landmark[name]" id="new_landmark"></input>
  <br></br>

  <input type="submit" value="Edit Figure">
</form>
