<h1>Create a new Figure</h1>

<form action="/figures" method="POST">
  <label>Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br></br>

  <%Title.all.each do |title|%>
    <label><%=title.name%></label>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id %>" value="<%=title.id%>">
  <%end%>

  <label>Or new title:</label>
    <input  type="text" name="title[name]" id="new_title"></input>
  <br></br>

  <br></br>

  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>

  <h2>Or make a new landmark<h2>
  <br></br>
    <label>name:</label>
      <input  type="text" name="landmark[name]" id="new_landmark"></input>
    <label>year:</label>
      <input  type="text" name="landmark[year_completed]"></input>
    <br></br>

  <input type="submit" value="Create New Figure">
</form>
